.bgTtl { border: 1px solid; background-color:lightblue;}
.mt_10 { margin-top: 10px; }
.mtb_10 { margin-top: 10px; margin-bottom: 10px; }
.fsz20 { font-size: 20px; }

.row { margin: 0 0 20px 0; }

@media (min-width: 768px) {
  .row { margin: 0 -15px 0 -15px; }
}